{% extends "plantilla_base.html" %}
{% block content %}
<h1>Intefaz para ejercicio 1</h1>

<h3>Adivina el número en el que estoy pensando...</h3>

<form class="register_form" method="post" action='\resolver_ej1'>
    <div class="form-group">
        <label for="exampleInputEmail1">Numero:</label>
        <input type="text" name='valor' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Número">
    </div>
    <button type="submit" class="btn btn-primary">Adivinar</button>
</form>
<form id="start_again" class="register_form" method="post" action='\ejercicio1'>
    <button type="submit" class="btn btn-primary">Empezar de nuevo</button>
</form>
{% if opcion %}
    {% if opcion == "mayor": %}
    	<p class='warning-reg' id='msg-red'>El valor que busca es menor</p>
    {% elif opcion == "menor": %}
    	<p class='warning-reg' id='msg-red'>El valor que busca es mayor</p>
    {% else %}
        <p class='warning-reg' id='msg-green'>CORRECTO!</p>
    {% endif %}
{% else %}
    <p class='warning-reg' id='msg-green'></p>
 {% endif %}

{% endblock %}