{% extends "base1.html" %}
{% load static %}
{% block content %}
<h2>Editar prestamo</h2>
{% for prestamo in prestamos %}
    <form method="POST" action="edit_prestamo_ok" class="search_form post-form add_prestamos">
        {% csrf_token %}
        {{ form.errors }}
        <div class="form-group">
        <label for="exampleInputEmail1">Libro</label>
        <br/>
            {{ form.libro }}
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1">Fecha</label>
        <br/>
            {{ form.fecha }}
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <br/>
            {{ form.usuario }}
        </div>
        <button type="submit" class="btn btn-primary">Editar</button>
    </form>
{% endfor %}
{% endblock %}
