{% extends "base1.html" %}
{% load static %}
{% block content %}
<h2>Editar libro</h2>
{% if user.is_authenticated %}
    {% if user.is_staff %}
    <br/>   

{% for libro in libros %}
   <form class="edit_form" method="post" action="edit_form">
        <input type="text" name="libro" value="{{ libro.id }}" hidden></input>
        <ul class="list-group">
            <li class="list-group-item"><b>Titulo:</b> {{ libro.titulo }}</li>
            <li class="list-group-item"><b>Nombre:</b> {{ libro.autor }}</li>
            <li class="list-group-item"><b>Editorial:</b> {{ libro.editorial }}</li>
        </ul>

        <button type="submit" class="btn btn-primary">Editar</button>
    </form>
{% endfor %}
    {% else %}
    <p>No perteneces al grupo <i>staff</i>. No puedes editar libros.</p>
    {% endif %}
{% else %}
    <p>No puedes editar un libro porque no estás registrado. <a href="{% url 'account_login' %}">Inicia sesión</a></p>
{% endif %}
   
    
{% endblock %}
