{% extends "plantilla_base.html" %}
{% block content %}

   <h1>Eliminar de base de datos de pokemon</h1>

   

   <form class="search_form" method="post" action="\eliminar_bd">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="search" placeholder="Búsqueda...">
            </div>
            <p>Buscar por:</p>
            <select name="opcion_busqueda">
                <option value="nombre">Nombre</option>
                <option value="tipo">Tipo</option>
                <option value="altura">Altura</option>
                <option value="peso">Peso</option>
            </select>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    {% if delete %}
        <p id='msg-green'> Su pokemon ha sido eliminado </p>
   {% endif %}

   {% for poke in pokemon %}
   <br/>   
   <form class="edit_form" method="post" action="\eliminar_bd_ok">
        <input type="text" name="poke_name" value="{{ poke.name }}" hidden></input>
        <ul class="list-group">

            <li class="list-group-item"><b>Nombre:</b> {{ poke.name }} <img id="imagen_poke" src={{ poke.img }}></li>
            <li class="list-group-item"><b>Tipo:</b> {{ poke.type }}</li>
            <li class="list-group-item"><b>Altura:</b> {{ poke.height }}</li>
            <li class="list-group-item"><b>Peso: </b>{{ poke.weight }}</li>
        </ul>
        <button type="submit" class="btn btn-primary">Eliminar</button>
    </form>
    {% endfor %}
{% endblock %}