{% extends "plantilla_base.html" %}
{% block content %}
    <h1> Competencias generales y específicas </h1>
    <p>El título de Graduado/a en Ingeniería Informática de la Universidad de Granada ha obtenido, con
fecha 5 de junio de 2019, el sello Euro-Inf, otorgado por ANECA en colaboración con el Consejo
General de Colegios Profesionales de Ingeniería en Informática (CCII) y con el Consejo General
de Colegios Oficiales de Ingeniería Técnica en Informática (CONCITI). Esta acreditación garantiza
el cumplimiento de criterios y estándares reconocidos por los empleadores españoles y del
resto de Europa, de acuerdo con los principios de calidad, relevancia, transparencia,
reconocimiento y movilidad contemplados en el Espacio Europeo de Educación Superior.</p>
    <ul>
        <li>El título de Graduado/a en Ingeniería Informática de la Universidad de Granada ha obtenido,
con fecha 5 de junio de 2019, el sello Euro-Inf, otorgado por ANECA en colaboración con el
Consejo General de Colegios Profesionales de Ingeniería en Informática (CCII) y con el
Consejo General de Colegios Oficiales de Ingeniería Técnica en Informática (CONCITI). Esta
acreditación garantiza el cumplimiento de criterios y estándares reconocidos por los
empleadores españoles y del resto de Europa, de acuerdo con los principios de calidad,
relevancia, transparencia, reconocimiento y movilidad contemplados en el Espacio Europeo
de Educación Superior.</li>
        <li>Competencias Específicas de la Asignatura:
            <ul>
                <li> Capacidad de concebir sistemas, aplicaciones y servicios basados en tecnologías de
red, incluyendo Internet, web, comercio electrónico, multimedia, servicios interactivos y
computación móvil.</li>
            </ul>
        </li>
        <li>Competencias Específicas del Título:
            <ul>
                <li>Capacidad para definir, evaluar y seleccionar plataformas hardware y software para
el desarrollo y la ejecución de sistemas, servicios y aplicaciones informáticas.</li>
                <li>Conocimiento de las materias básicas y tecnologías, que capaciten para el
aprendizaje y desarrollo de nuevos métodos y tecnologías, así como las que les doten
de una gran versatilidad para adaptarse a nuevas situaciones.</li>
            </ul>
        </li>
        <li>Competencias Transversales o Generales:
            <ul>
                <li>Capacidad para la resolución de problemas.</li>
                <li>Capacidad de trabajo en equipo.</li>
            </ul>
        </li>
    </ul>
{% endblock %}