/*Barra de navegación superior*/
.navbar{
    background-color: #d9d9d9 !important;
    height: 10%;
}
/*-------*/

/*Formulario de login*/
.login_form {
    padding-right: 2%;
    width: 400px;
}
.col {
    padding-left: 0; 
    padding-right: 1%;
}
.container {
    margin-left: 0%;
    margin-bottom: 0%;
} 
.btn {
    background-color: #00cc99;
    border-color:  #00cc99;
}
/*-------*/

/*Formulario de registro*/
.register_form {
    
    width: 40%;
}

.warning-reg {
    padding-bottom: 22%;

}
#msg-red {
    color: red;
}
#msg-green {
    color: green;
}
/*-------*/

/*Ejercicio 1*/
#start_again {
    padding-top: 1%;
}

/*Menú lateral*/
/*#menu_lateral {
    background-color: #d9b3ff;
    overflow-x: hidden; 
    padding:2%;
    width: 15%;
}*/
/*-------*/

#contenido {
    padding-top: 2%;
    padding-left: 3%;
}

/*Pie de página*/
#pie_pagina {
    color: black !important;
}
.page-footer{
    background-color: #00cc99;
    height: 3%;
}
/*-------*/

/*Página prueba*/
#texto_lorem{
    margin-left: 4%;
    margin-top: 1%;
    width: 80%;
}
/*-------*/

/*Mensaje login*/
#bienvenidx {
    padding-right: 1%;
}

/*Ver usuario*/
#ver_usuario {
    padding-bottom: 22%;
}

#editar_usuario {
    padding-bottom: 22%;
}